body{font-family: Arial, Helvetica, sans-serif  !important;}

.w-40{width: 40% !important;}
.w-15{width:15% !important;}

.marg{margin-left: 75% !important;}
.ll{margin-bottom: -2.4% !important;margin-left: 20% !important;}
button{margin-left: -29px !important;height: 7vh !important;}
.ms-0{margin-left: 40% !important;}
.navbar{background-color: #C2EFD4  !important;}
.sp{background-color: #C2EFD4  !important;   }
.s-p > img{margin-left: 50% !important;}
.t{color: #224F34 !important;}
.bk{background-color: #224F34 !important;}
.for-back{border: 3px solid  #C2EFD4 !important; }
.for-b{border: 1px solid black !important;}
.c-g{color:gold;}
.m-l-10{margin-left: 20% !important;}